* {
    margin: 0;
    padding: 0;
}

nav {
    width: 100%;
    top: 0;
    display: flex;
    border: 2px solid rgb(231, 221, 221);

}

.logo {
    color: red;
    font-size: 20px;
    margin: 20px;
    padding: 10px;
}

.n2 {
    background-color: aliceblue;
    border: 2px solid aliceblue;
    text-align: center;
    padding: 10px;
    border-radius: 30px;
    margin: 18px;
    transform: translateX(350px);
}

.b {
    margin: 18px;
    padding: 10px;
    transform: translateX(700px);
    font-size: 15px;
}

.search {
    padding: 5px;
    margin: 5px;
    background-color: rgb(199, 15, 15);
    color: white;
    border-radius: 100%;
}

.first-row-img{
    display: flex;
    flex-direction: row;
}

.v {
    margin-top: 29px;
    margin-left: 35px;
    margin-bottom: 8px;
    font-family: fantasy;
}

 .one-img .fst{
    height: 150px;
    width: 170px;
    border-radius: 20px;
    margin-left: 35px;
    margin-top: 10px;
}

.onetxt{
    margin-left: 40px;
    font-size: 13px;
}

.onetxtp{
    margin-left: 40px;
    font-size: 9px;
    color: dimgray;
}

.two-img .snd{
    height: 150px;
    width: 170px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 10px;
}

.twotxt{
    margin-left: 15px;
    font-size: 13px;
}

.twotxtp{
    margin-left: 15px;
    font-size: 9px;
    color: dimgray;
}

.three-img .thd{
     height: 150px;
    width: 170px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 10px;
}

.threetxt{
    margin-left: 15px;
    font-size: 13px;
}

.threetxtp{
     margin-left: 15px;
    font-size: 9px;
    color: dimgray;
}

.four-img .frt{
    height: 150px;
    width: 170px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 10px;
}

.fourtxt{
    margin-left: 15px;
    font-size: 13px;
}

.fourtxtp{
     margin-left: 15px;
    font-size: 9px;
    color: dimgray;
}

.five-img .fth{
    height: 150px;
    width: 170px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 10px;
}

.fivetxt{
    margin-left: 15px;
    font-size: 13px;
}

.fivetxtp{
    margin-left: 15px;
    font-size: 9px;
    color: dimgray;
}

.six-img .six{
    height: 150px;
    width: 170px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 10px;
}

.sixtxt{
    margin-left: 15px;
    font-size: 13px;
}

.sixtxtp{
    margin-left: 15px;
    font-size: 9px;
    color: dimgray;
}

.seven-img .svn{
    height: 150px;
    width: 170px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 10px;
}

.seventxt{
    margin-left: 15px;
    font-size: 13px;
}

.seventxtp{
    margin-left: 15px;
    font-size: 9px;
    color: dimgray;
}